@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #f1f0e9;
  background-color: #e6f4f1;
  color: #334b48;
}

.container {
  height: 100vh;
  width: 100vw;
}

/* NAVBAR */
nav {
  width: 100%;
  background-color: #78fac6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
}

.nav-left {
  display: flex;
  margin-left: 1%;
}

.nav-left > i {
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 10px;
  color: #334b48;
}

.nav-left > i:hover {
  background-color: white;
}

.nav-right {
  margin-right: 1%;
}

.nav-right > a > i {
  font-size: 2rem;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 10px;
  color: #334b48;
}

.nav-right > a > i:hover {
  background-color: white;
}

.menu-bars {
  border-radius: 10px;
  cursor: pointer;
}

.menu-bars:hover {
  background-color: white;
}

.bar1,
.bar2,
.bar3 {
  background-color: #6b6b6b;
  width: 30px;
  height: 2px;
  margin: 8px 6px;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* SIDEBAR */

.sidebar {
  width: 300px;
  background-color: #b3ffa0;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.sidebar-toggle {
  transform: translateX(-300px);
}

.main-content-toggle {
  margin-left: -300px;
}

.sidebar-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  row-gap: 1rem;
  list-style: none;
}

.sidebar-container > li {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projects-container > p {
  font-size: 1.8rem;
  margin: 0;
  width: 100%;
  text-align: center;
}

.projects {
  list-style-type: square;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 1rem 0 1rem 3rem;
}

/* MAIN CONTENT */

main {
  display: flex;
  height: 94vh;
}
